@page "/availablebooks"

<h1>Available Books</h1>

<br />

<a class="btn btn-primary" onClick="window.location.reload();">Refresh</a>

<br />
<br />

@if (AvailableBooks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (AvailableBooks.Length == 0)
    {
        <p>There are no available books.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Authors</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var availableBook in AvailableBooks)
                {
                    <tr>
                        <td>@availableBook.ISBN</td>
                        <td>@availableBook.Title</td>
                        <td>@availableBook.Authors</td>
                        <td>
                            <a href="@($"availablebooks/{availableBook.ISBN}")" class="btn btn-info table-btn">Info</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}