@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello!</h1>

Welcome to the web client of the library! <br />
Use the navigation bar on the left to check the <strong>available books</strong>, or your <strong>borrowed books</strong>!
